.menu {
    text-align: center;
    font-family: 'Poppins', sans-serif;
            
}

.isi {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
}

.menu-1 img,
.menu-2 img,
.menu-3 img {
    max-width: 100%; /* Set the maximum width to the container's width */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 20px;
}

/* Media query to make images stack vertically on smaller screens */
@media (max-width: 768px) {
    .menu-1 img,
    .menu-2 img,
    .menu-3 img {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 20px; /* Add bottom margin to separate images */
    }
}
